.div-home-image{
    margin:30 auto !important;
}

.card{

    margin:30px auto;
    border: 2px solid #0d0d61 !important;

}


.card-img-top{
    height:200px;
}

.card-title{
    color:#0d0d6d;
    
}