.navbar-light .navbar-toggler{
    color:#0d0d61 !important;
}

.navbar-light .navbar-toggler-icon{
    color:#0d0d61 !important;
}

@media (min-width:992px) {
    .css-search{
        display:none;
    }
}
